body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: darkred;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

li:not(:first-child) {
  margin-left: 0.75rem;
}
